.login-button {
    margin: 0 auto;
    padding: 6px 12px;
    line-height: 40px;
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #3979B5;
    border: 1px solid #255C9E;
    border-radius: 4px;
}

.login-button-logo {
    margin-bottom: -2px;
}